body{
    background:rgb(58, 71, 80) ;
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
td {
    width: 60%;
    color: white;
    font-size: 25px;
}
h1 {
    font-size: 40px;
}
span{
    font-size: 16px;
    color: gray;
    display: block;
    padding: 10px 0 20px;
}
p{
    font-size: 16px;
}
strong{
    padding-bottom: 20px;
    display: block
}
.background-image{
    background-color: #a1a6aa;
    border-radius: 10px;
    width: 580px;
    height: 300px;
}

.empty_vinyl{
     width: 40%;
    margin-left: 30%;
}
.black_line{
    width: 93%;
    margin-left: 60px;
    height: 7px;
    border: none;
    background-color: rgba(0,0,0,0.5);
}
table{
    padding: 20px 54px 20px 54px;
}
.image_width{
    width: 40%;
}
.vlnr_Harry_Kemp_Lykele_Bokhorst_Ariejan_Boon_Ben_Bochanen{
    width: 625px;;
    height: 310px;
    border-radius: 10px;
}

.bottom_line{
    background: gray;
    height: 10px;
    width: 75%;
    margin: 100px auto;
    border: none;
}
.content-line_border{
    background: white;
    width: 31%;
    height: 5px;
    border: none;
}
footer > p{
    text-align: center;
    font-size: 21px;
    color:gainsboro;
    padding: 5px;
}