body {
    background-color: rgba(58, 71, 80, 1);
    font-family: Segoe UI, Regular;
}
#formDiv {
    background-color: #313C43;
    border-radius: 25px;
    height: 330px;
    width: 580px;
    position: absolute;
    left: 470px;
    top: 39%
}
table {
    padding-left: 10px;
    padding-top: 10px;
}
td {
    height: 30px;
}
input, textarea, select{
    border-radius: 10px;
}
#Opmerking{
    height: 100px;
    width: 400px;
}
.Button {
    background-color: rgba(246, 201, 14, 1);
    border-color: rgba(246, 201, 14, 1);
    height: 35px;
    width: 100px;
    margin-left: 20px;
}
