/* Index */

* {
    outline: none;
}

html {
    width: 100%;
}

body {
    background: #3A4750;
    background-image: linear-gradient(20deg, #3A4750, #3A4750 65%, #37434b 65%, #37434b);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

main {
    display: block;
    width: 100%;
    margin-top: 200px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    z-index: 99999;
}

header img {
    max-height: 100%;
    width: 400px;
}

header>a {
    display: inline-block;
    flex: 0;
}

header>div {
    flex: 1;
}

header .pink {
    background-color: #E5447E;
    text-align: right;
    height: 43px;
    line-height: 43px;
}

.pink a {
    color: #FFF;
    text-decoration: none;
    opacity: 0.69;
    padding: 10px;
}

header .white {
    height: 61px;
    line-height: 61px;
    background-color: #EFEFEF;
    text-align: right;
}

.white a {
    color: #7B7B7B;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}

.zeldzaamheidschecker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.album-cover {
    width: 500px;
    height: 500px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.album-cover>img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: var(--exposure, 0);
    transform: rotateZ(calc(var(--exposure) * 1deg));
    transition: 250ms left ease-out;
}

.album-cover:hover>img {
    left: var(--exposure, 10%);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.album-cover>.sleeve {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background: linear-gradient(30deg, #F6C90E, #F6C90E 65%, #E8BD0D 65%, #E8BD0D);
    font-size: 10em;
    font-weight: 500;
    color: #FFF;
    z-index: 1;
}

.zeldzaamheidschecker aside>p {
    color: #FFF;
    margin-bottom: 2px;
    font-size: 19px;
}

aside {
    text-align: center;
    flex: 1;
}

.zeldzaamheidschecker [type=text],
input[type=number] {
    padding: 8px;
    background-color: #2D373E;
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 33%;
}

.zeldzaamheidschecker input[type=text]:first-of-type {
    font-size: 32px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    display: none;
}

input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
}

input[type=radio]::after {
    content: attr(value);
    display: inline-block;
    background-color: #9b8110;
    transition: background-color 250ms ease-in-out;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    width: 2.5em;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
}

input[type=radio]:checked::after {
    background-color: #F6C90E;
}

button {
    border: none;
    background-color: #F6C90E;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
    user-select: none;
    transition: background-color 100ms ease-in-out;
}

button:hover {
    background-color: #9b8110;
}

hr.short.dark {
    margin-top: 1em;
    border-width: 2.5px;
    border-color: #808080;
    border-style: solid;
    opacity: 0.25;
    width: 450px;
}

#Div2>ul>li>a.selected {
    color: #7B7B7B;
    text-decoration: none;
}

#Div1>ul>li>a.selected2 {
    color: #FFFFFF;
    text-decoration: none;
}

.carrousel {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    width: 100%;
}

.carrousel>.left,
.carrousel>.right {
    color: #FFF;
    font-size: 5em;
    margin: 0;
    line-height: 0.75em;
    margin: 0 100px;
}

.carrousel>.view {
    flex: 1;
    height: 500px;
}

.view {
    display: flex;
}

.info {
    color: #FFF;
    padding: 0 30px;
}

.view img {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}

.info h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

.info hr {
    display: inline-block;
    height: 2px;
    width: 200px;
    border: none;
    background-color: #FFF;
    margin: 0;
}

.info h2 {
    font-size: 21px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

.info p.box {
    padding: 15px;
    background-color: #313C43;
    border-radius: 10px;
    min-height: 200px;
}

.info button {
    margin-left: auto;
    height: 40px;
    border-radius: 40px;
    padding: 5px 40px;
    float: right;
}

main>h1 {
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    margin-left: 100px;
    color: #FFF;
}

main>h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin-left: 100px;
    color: #FFF;
}

main>hr {
    background-color: #FFF;
    border: none;
    height: 9px;
    display: block;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 50px;
}

.search-field {
    display: flex;
    margin: 10px 100px;
    background-color: #2D373E;
    padding: 10px 25px;
    height: 60px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
}

.search-field>input[type=search] {
    flex: 1;
    background: none;
    border: none;
    font-size: 1em;
    color: #FFF;
}

.search-field>p {
    color: #FFF;
    opacity: 0.5;
    margin: 0;
    height: auto;
    font-style: italic;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-column-gap: 85px;
    grid-row-gap: 40px;
    justify-content: center;
    margin: 40px 100px;
    margin-bottom: 125px;
}

.list>.album {
    width: 320px;
    overflow: hidden;
    color: #fff;
    position: relative;
    background-color: rgba(0, 0, 0, 25%);
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 100ms ease-out, filter 125ms ease-in;
}

.album:hover {
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.1);
    filter: brightness(110%);
}

.album>.quality {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    transform: rotate(45deg) translateY(-2em) translateX(14%);
    transform-origin: center;
    background-color: rgba(155, 155, 155, 0.8);
    width: 5em;
    text-align: center;
    padding-top: 2em;
    backdrop-filter: filter(2px);
    opacity: 1;
}

.list>.album img {
    width: 100%;
}

.album>.year {
    position: absolute;
    top: 320px;
    opacity: 0.5;
    font-style: italic;
    font-weight: 700;
    right: 10px;
    margin: 0;
}

.album>h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: normal;
    margin: 0;
    margin-top: 5px;
}

.album>p:last-of-type {
    margin: 0;
    opacity: 0.75;
    font-style: italic;
    font-size: 24px;
}

article {
    display: flex;
    margin: 0 50px;
    color: #FFF;
}

article>div {
    flex: 1;
}

article>.container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article>.container>img {
    max-height: 100%;
    max-width: 100%;
}

article>.container.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article>.container.background {
    background-color: rgba(255, 255, 255, .5);
}

article hr {
    border: none;
    background-color: #fff;
    height: 9px;
    max-width: 350px;
    float: left;
}

article h1 {
    font-size: 48px;
}

article span {
    opacity: 0.5;
}

@media screen and (max-width: 456px) {
    header {
        flex-direction: column-reverse;
        height: auto;
        margin-top: -6rem;
        transition: margin-top 250ms ease-in-out;
    }

    header::after {
        content: "";
        height: 5px;
        width: 2rem;
        border-radius: 1rem;
        background-color: #FFF;
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        box-shadow: #FFF 0 0.66rem 0, #FFF 0 1.33rem 0;
        transition: opacity 200ms ease-in-out;
    }

    header .pink,
    header .white {
        background-color: #E5447E;
        text-align: center;
        margin: 0;
        height: 3rem;
        line-height: 3rem;
        margin-bottom: -1px;
    }

    header>div>.pink>a {
        font-size: 0.75rem;
    }

    header .pink>a,
    header .white>a {
        font-size: 1rem;
        color: #FFF;
        opacity: 1;
    }

    header a,
    header img {
        width: 100%;
    }

    header>a {
        pointer-events: none;

    }

    header:hover {
        margin-top: 0;
    }

    header:hover::after {
        opacity: 0;
    }

    .carrousel {
        align-items: center;
    }

    .carrousel .left,
    .carrousel .right {
        margin: 0;
    }

    .view {
        flex-wrap: wrap;
    }

    .view>img {
        width: 100%;
    }

    .album-cover {
        width: 90vw;
        height: 90vw;
    }

    main>h1 {
        margin-left: 0;
        text-align: center;
    }

    main>hr {
        width: 90%;
        margin-left: 5%;
    }
}